@page "/"

<h3>Thinking</h3>
<p>@_thinkingRespones</p>


<h3>Response</h3>
<p>@_properResponse</p>


<input type="text" @bind="@_userRequest" />
<button type="button" @onclick="@SendMessageAsync">Send</button>
